---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { ROUTES, SITE } from "@consts";

const navLinks = [
  ...Object.entries(ROUTES)
    .filter(([key]) => ["About", "Articles", "Consulting"].includes(key))
    .map(([_, route]) => ({
      href: route,
      text: route.slice(1),
    })),
  { href: "https://buttondown.com/passionately-curious", text: "newsletter" },
];
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        {
          navLinks.map((link, index) => (
            <>
              <Link href={link.href}>{link.text}</Link>
              {index < navLinks.length - 1 && <span>/</span>}
            </>
          ))
        }
      </nav>
    </div>
  </Container>
</header>
