<form
  action="https://buttondown.com/api/emails/embed-subscribe/passionately-curious"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/passionately-curious', 'popupwindow')"
  class="embeddable-buttondown-form space-y-4"
>
  <div
    class="flex flex-col sm:flex-row sm:items-end sm:gap-4 space-y-4 sm:space-y-0"
  >
    <div class="flex-grow">
      <label for="bd-email" class="text-sm font-medium">
        Enter your email
      </label>
      <input
        type="email"
        name="email"
        id="bd-email"
        class="w-full px-4 h-10 border rounded-lg dark:bg-gray-800 dark:border-gray-700"
      />
    </div>

    <input
      type="submit"
      value="Subscribe"
      class="px-4 py-2 h-10 font-semibold text-white bg-gray-500 rounded-lg hover:bg-gray-800 dark:bg-gray-200 dark:text-gray-900 dark:hover:bg-gray-300 sm:whitespace-nowrap"
    />
  </div>

  <p class="text-xs text-gray-400">
    <a
      href="https://buttondown.com/refer/passionately-curious"
      target="_blank"
      class="hover:underline"
    >
      Powered by Buttondown.
    </a>
  </p>
</form>
