---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { METADATA } from "@consts";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const { Projects } = METADATA;
---

<PageLayout title={Projects.Title} description={Projects.Description}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Projects
      </div>
      <ul class="animate flex flex-col gap-4">
        {
          projects.length > 0
            ? projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            : "Coming Soon!"
        }
      </ul>
    </div>
  </Container>
</PageLayout>
